# define entry point as git alias
# hence 'git template 1 2 3' starts 'index 1 2 3'
# template = "!bash $(dirname \"$(git config --global --get-all include.path git-template)\")/index \"$@\""
[alias]
    template = "!bash $(dirname \"$(git config --global --get-all include.path git-template)\")/index"